#autoDrawOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    place-items: center center;
    font-size: 1.5vw;
    color: white;
}

.dragging #autoDrawOverlay {
    display: grid;
}

.dragging #canvasGame {
    opacity: 0.25;
}