#autoDrawOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
    display: none;
    margin-left: -200px;
    line-height: 20px;
    font-size: 20px;
    z-index: -1;
}

.showAutoDrawOverlay #autoDrawOverlay {
    display: block;
}

.showAutoDrawOverlay #canvasGame {
    opacity: 0.5;
}

@media (max-width: 1100px) {
    #autoDrawOverlay {
        margin-left: -150px;
        line-height: 15px;
        font-size: 15px;
    }
}

@media (max-width: 950px) {
    #autoDrawOverlay {
        margin-left: -100px;
        line-height: 10px;
        font-size: 10px;
    }
}