#autoDrawOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    place-items: center center;
    font-size: 2.2vw;
    color: white;
    background-color: rgba(3, 8, 29, 0.8);
}

.showingAutodrawOverlay #autoDrawOverlay {
    display: grid;
}